

    <!-- BANNER -->
     <div>
        <header class="banner" >
            <div class="container text-center"">
               <div class="row">
                  <h1>VotePlex</h1>
                  <h4>Create custom polls with live result</h4>
               
                  <br>
                 <a href="#!signup" class="btn btn-warning" role="button">Sign up</a>
                 <a href="#!poll" class="btn btn-info" role="button">View all polls</a>
                 <br>
                 <br>
                 <p>Create an account to create your own poll today!</p>
    
                <p>Already have an account? <a href="#!login">sign in</a>  </p>
                
               </div>
            </div>
         </header>
         <br><br>
       </div>  
         <!-- CONTENTS -->
         <div class="container">
           <div class="row"></div>
             <div class="col-md-4">
                                  <h4 class="header4">
                                                     <i class="fa fa-bolt" aria-hidden="true"></i>
                                                     Live Results</h4>
                                  <p>Live graphs show your pull results immdediately in an easy to understand format.One graph will not provide the whole picture,that's why we proide mmultiple graph tpes to beter describe your results.</p>
             </div>
             <div class="col-md-4">
                                  <h4 class="header4">
                                                     <i class="fa fa-globe" aria-hidden="true"></i>
                                                     Work Everywhere</h4>
                                  <p>Traditional desktop computers now represent only 30% of internet traffic.Your poll must work on the tablets,smart phones,netbooks thaat your visitors are using.Our responsive designs do just that. </p>
             </div>                        
             <div class="col-md-4">
                       <h4 class="header4">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                         Social Integration</h4>
                       <p>Free integrated fcebook or traditional comments allow your poll voters to provide immediate feedback and discuss results.Social share buttons engourage your poll voters to help spread the word.</p>
             </div>

   
    
       