
     <!-- BANNER -->
     <div ng-hide="identity.isAuthenticated()">
        <header class="banner" >
            <div class="container text-center"">
               <div class="row">
                  <h1>VotePlex</h1>
                  <h4>Create custom polls with live result</h4>
                 <button type="button" class="btn btn-warning">Sign Up</button>             <p>Already have an account? sign in </p>
               </div>
            </div>
         </header>
         <br><br>
         <!-- CONTENTS -->
         <div class="container">
           <div class="row"></div>
             <div class="col-md-4">
                                  <h4 class="header4">
                                                     <i class="fa fa-bolt" aria-hidden="true"></i>
                                                     Live Results</h4>
                                  <p>Live graphs show your pull results immdediately in an easy to understand format.One graph will not provide the whole picture,that's why we proide mmultiple graph tpes to beter describe your results.</p>
             </div>
             <div class="col-md-4">
                                  <h4 class="header4">
                                                     <i class="fa fa-globe" aria-hidden="true"></i>
                                                     Work Everywhere</h4>
                                  <p>Live graphs show your pull results immdediately in an easy to understand format.One graph will not provide the whole picture,that's why we proide mmultiple graph tpes to beter describe your results.</p>
             </div>                        
             <div class="col-md-4">
                       <h4 class="header4">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                         Social Integration</h4>
                       <p>Live graphs show your pull results immdediately in an easy to understand format.One graph will not provide the whole picture,that's why we proide mmultiple graph tpes to beter describe your results.</p>
             </div>

     </div>
    
       