<!DOCTYPE html>
<html lang="en" >

<div class="navbar navbar-inverse navbar-fixed-top custom-navbar" >
   <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">VotePlex</a>
        
      </div>
      <div>
         <ul class="nav navbar-nav pull-right">
            
            <li><a href="#">Logout</a></li>
 
         </ul>
      </div>
   </div>
</div>
<!-- BANNER -->
<header class="banner">
   <div class="container text-center"">
      <div class="row">
         <h1>Dashboard</h1>
         <h4>What would you like to do today?</h4>
        <button type="button" class="btn btn-success">New Poll</button> 
        <button type="button" class="btn btn-primary">My Polls</button>     
      </div>
   </div>
</header>
<br><br>

<div class="container text-center" id="newpoll">
      <div class="row">
         <h1>New Poll</h1>
       
 <form>
  <div class="form-group">
    <label class="col-form-label" for="formGroupExampleInput">Name your poll.</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="What is your favorite brand?">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="formGroupExampleInput2">Options</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Code">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Pepsi">    
  </div>
</form>       
        <button type="button" class="btn btn-default">More Option</button> 
        <br>
        <br>
        <button type="button" class="btn btn-success">Submit</button>     
      </div>
   </div>                                                    

</html>
