 <!-- NAVBAR -->
 <div class="navbar navbar-inverse navbar-fixed-top custom-navbar" ng-controller="mvMainCtrl" ng-show="identity.isAuthenticated()">
        <div class="container">
           <div class="navbar-header">
              <a class="navbar-brand" href="#">VotePlex</a>
             
           </div>
           <div>
              <ul class="nav navbar-nav pull-right" ng-controller="mvNavBarLoginCtrl">

                 <li><a href="/" ng-click="signout()">Logout</a></li>
              </ul>
           </div>
        </div>
     </div>
     <!-- BANNER -->
     <header class="banner">
        <div class="container text-center"">
           <div class="row" ng-repeat="course in courses | filter:{featured:true}">
                <div class="col-md-12">
                        {{course.name}}
                    </div>
                  
           </div>
        </div>
     </header>
     <br><br>

       