

    <!-- BANNER -->
<header class="banner">
   	<div class="login">
<div class="login-box">

      <form class="email-signup">
      <div class="u-form-group">
          <input type="text" placeholder="firstname" ng-model="fname"/>
      </div>
      <div class="u-form-group">
          <input type="text" placeholder="lastname" ng-model="lname"/>
      </div>        
      <div class="u-form-group">
        <input type="text" placeholder="username" ng-model="username"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password" ng-model="password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>

  </div>
			</div>
</header>
